<!--<div class="card">-->
<!--  <div class="card-block">-->
    <!-- Do +/- -->
<!--    <h4 class="card-title">Card Title</h4>-->
<!--  </div>-->
  <!-- img -->
<!--  <img src="http://placehold.it/318x180" alt="Placeholder">-->
<!--  <div class="card-block">-->
    <!-- other stuff -->
<!--    <p class="card-text">Card text</p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row" *ngFor="let cardRow of cardRows">-->
<!--  <div class="col-sm-6" *ngFor="let card of cardRow">-->
<!--    <div class="card center-block" style="max-width: 318px;">-->
<!--      <div class="card-block">-->
<!--        <h4 class="card-title">{{ card.name }}</h4>-->
<!--      </div>-->
<!--      <img src="http://placehold.it/318x180" alt="Placeholder">-->
<!--      <div class="card-block">-->
<!--        <p class="card-text">{{ card.sellPrice | currency:'USD':true:'1.2-2' }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<button type="button" (click)="completePurchase()" class="btn btn-purchase">
  <span class="pull-left">
    BUY: <span [class.buy-price]="buyPrice > 0">{{ buyPrice | currency:'USD':true:'1.2-2' }}</span>
  </span>
  <span *ngIf="orderPrice === 0">ORDER IS EMPTY</span>
  <span *ngIf="orderPrice !== 0">
    BUY/SELL ITEMS FOR
    <span [class.buy-price]="!isPos(orderPrice)" [class.sell-price]="isPos(orderPrice)">{{ orderPrice | currency:'USD':true:'1.2-2' }}</span>
  </span>
  <span class="pull-right">
    SELL: <span [class.sell-price]="sellPrice > 0">{{ sellPrice | currency:'USD':true:'1.2-2' }}</span>
  </span>
</button>

<div class="row">
  <div class="col-md-6 col-lg-4" *ngFor="let card of cards">
    <!--<div class="card card-inverse center-block">-->
    <!--  <div class="card-header">-->
    <!--    <button type="button" (click)="changeQuantity(card.name, false)" class="btn btn-danger pull-left inv-minus">-->
    <!--      <i class="fa fa-minus" aria-hidden="true"></i>-->
    <!--    </button>-->
    <!--    <div class="inv-status">-->
    <!--      <span>{{ inventory[card.name] }}</span>-->
    <!--      &bull;-->
    <!--      <span *ngIf="isPos(order[card.name])">+</span>{{ order[card.name] }}-->
    <!--      &bull;-->
    <!--      <span [class.buy-price]="isPos(order[card.name])"-->
    <!--        [class.sell-price]="!isPos(order[card.name])">-->
    <!--          <span *ngIf="order[card.name] > 0">-</span><span *ngIf="order[card.name] < 0">+</span>{{ order[card.name] * card.buyPrice | currency:'USD':true:'1.2-2' }}-->
    <!--      </span>-->
    <!--    </div>-->
        <!--<div class="center-block">{{ order[card.name] }}</div>-->
    <!--    <button type="button" (click)="changeQuantity(card.name)" class="btn btn-success pull-right inv-plus">-->
    <!--      <i class="fa fa-plus" aria-hidden="true"></i>-->
    <!--    </button>-->
    <!--  </div>-->
    <!--  <img src="http://placehold.it/318x180" alt="Placeholder">-->
    <!--  <ul class="list-group list-group-flush">-->
    <!--    <li class="list-group-item text-xs-center">{{ card.name | formatter }}</li>-->
    <!--    <li class="list-group-item text-xs-center">-->
    <!--      <span class="buy-price">{{ card.buyPrice | currency:'USD':true:'1.2-2' }}</span>-->
    <!--      &bull;-->
    <!--      <span class="sell-price">{{ card.sellPrice | currency:'USD':true:'1.2-2' }}</span>-->
    <!--    </li>-->
    <!--  </ul>-->
    <!--</div>-->
    <item-card [item]="card" img-src="http://placehold.it/318x180" (onClick)="changeQuantity(card.name)">
      <button type="button" (click)="changeQuantity(card.name, false)" class="btn btn-danger pull-left inv-minus">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <div class="inv-status">
        <span>{{ inventory[card.name] }}</span>
        &bull;
        <span *ngIf="isPos(order[card.name])">+</span>{{ order[card.name] }}
        &bull;
        <span [class.buy-price]="isPos(order[card.name])"
          [class.sell-price]="!isPos(order[card.name])">
            <span *ngIf="order[card.name] > 0">-</span><span *ngIf="order[card.name] < 0">+</span>{{ order[card.name] * card.buyPrice | currency:'USD':true:'1.2-2' }}
        </span>
      </div>
      <button type="button" (click)="changeQuantity(card.name)" class="btn btn-success pull-right inv-plus">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </item-card>
  </div>
</div>