button.btn {
  border-radius: 0;
  &.inv-minus {
    border-top-left-radius: 4px;
  }
  &.inv-plus {
    border-top-right-radius: 4px;
  }
  & i.fa {
    color: white;
  }
}

.btn.btn-purchase {
  position: fixed;
  top: 54px;
  right: 0px;
  width: 100%;
  z-index: 1029;
  border-radius: 0;
  
  color: white;
  background-color: #595959;
}

.row.root-row {
  padding-top: 40px;
}

.inv-status {
  // display: block;
  width: 224.8437px;
  // height: 38px;
  display: inline-block;
  background-color: #595959;
  color: white;
  text-align: center;
  // margin: auto;
  margin: 7px 0px 7px 0px;
}