html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

.container-fluid {
  padding-top: 100px;
}

.buy-price {
  color: red;
}
.sell-price {
  color: #00B300;
}